<div class="container" id="main">
  <div class="row">
    <div class="span12">
      <a href="#"
        class="btn btn-primary pull-right js-new-project"
        style="margin-bottom:5px;">New Project</a>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <div id="map"></div>
      <hr />
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
        <% @projects.each do |project| %>
        <li class="span2">
          <%= link_to edit_project_path(project), class:"thumbnail" do %>
            <% if !project.photos.empty? %>
            <%= image_tag project.photos.first.image.thumbnail.url %>
            <% end %>
            <h5><%= project.name %></h5>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render "new_modal" %>

<% content_for :javascripts do %>
<%= javascript_include_tag "http://openlayers.org/api/OpenLayers.js" %>
<script type="text/javascript">
  var view = new Wherefolio.Views.ProjectsIndex({el:"#main"});
</script>
<% end %>