<div id="main" class="container">
  <div class="row">
    <div class="span4">
      <%= link_to projects_path do %>
      &larr; Projects
      <% end %>
      <h2><%= @project.name %></h2>
      <em><%= pluralize @project.photos.count, "photo" %></em>
      <hr />
      
      <div id="uploadButton" 
          data-project-id="<%= @project.id %>"
          data-upload-url="<%= project_photos_path(@project) %>">Add Photos</div>
      
      <div id="uploadQueue">
        <% if false %>
        <div class="uploadifive-queue-item error" id="uploadifive-uploadButton-file-0">                    
          <a class="close" href="#">X</a>
          <div>
            <span class="filename">after_conversion_imagescience.jpeg</span>
            <span class="fileinfo"> - 404 Error</span>
          </div>
        </div>
        <% end %>
      </div>      
    </div>
    <div class="span8">
      <ul id="uploadedPhotos"
          class="thumbnails"
          data-sort-url="<%= sort_project_photos_path(@project) %>">
        <%= render partial: "photo_thumbnail", 
          collection: @photos, 
          as: :photo %>
      </ul>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  var view = new Wherefolio.Views.ProjectsShow({el:"#main"});
</script>
<% end %>