<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Your Account</h2>
      <p>Details about your account go here.</p>
      
      <div class="well">
      <%= form_for current_account, url: account_path, method: :put do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br />
        
        <%= image_tag current_account.logo.square.url if current_account.logo? %>
        <%= f.file_field :logo %>
        <%= f.hidden_field :logo_cache %>
        <hr />
        <button type="submit" class="btn btn-primary">Update</button>
      <% end %>
      </div>
    </div>
    <div class="span6">
      span6
    </div>
  </div>
</div>